
* {
  box-sizing: border-box;
}

body {
  font-family: Comic sans;
  padding: 20px;
  background: #ccffcc;
}
.header {
  padding: 05px;
  text-align: left;
  background: #9966ff;
  color:#ffffff;
  font-family: Comic sans;
  }





/* Style the top navigation bar */
.topkarteles {
  overflow: hidden;
 background-color:#9966ff;

}




/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 65%;

 
  
}

/* Right column */
.rightcolumn {
  float: left;
  width:  35%;
  background-color: white;
  padding-left: 100px;
margin-top:400px;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 30px;
  margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;	
  display: inline-block;
  padding: 15px 25px; 
 font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 100px;
  margin-left: 250px;
  }