<body>
  <div style="text-align: center;">


    <br><br>

    <div style="position:relative; top:200px;">
    <h1>Edit Shop</h1><br>

    <table id="shops">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
     <!--  <th>Longtitude</th>
	    <th>Latitude</th> -->
      <th>Withdrawn</th>
      <th>Tags</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>{{shop.id}}</td>
      <td><input type="text" name="Name" [(ngModel)]="Name" value="{{shop.name}}"></td>
      <td><input type="text" name="Address" [(ngModel)]="Address" value="{{shop.address}}"></td>
     <!--  <td><input type="text" name="Category" [(ngModel)]="Longtitude" value="{{shop.lng}}"></td>
      <td><input type="text" name="Withdrawn" [(ngModel)]="Latitude" value="{{shop.lat}}"></td> -->
      <td><input type="text" name="Withdrawn" [(ngModel)]="Withdrawn" value="{{shop.withdrawn}}"></td>
      <td><input type="text" name="Tags" [(ngModel)]="Tags" value="{{shop.tags}}"></td>
      <td>
        <input type="image" class="imgButton" src="assets/img/tick_icon.png" (click)="putClick()">
      </td>
    </tr>

    </table>
	<br><br>
	<h2 align="center">Click the desirable location on the map</h2>
	<div align="center"><div id="map" class="map"></div></div>
    </div>
