<body>
  <div style="text-align: center;">
<h2>
    <p>
      Here you can view all available products!
    </p>
</h2>
    <br>


    <br><br>

    <h1>Available Products</h1>
    <div style="float: left">
    Products per page:
    <select name="view" [(ngModel)]="view">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="40">40</option>
    </select>
    </div>
    <div style="float: right">
    Sort by:
    <select name="sort" [(ngModel)]="sort" (ngModelChange)="getClick()">
      <option value="id|ASC">ID Ascending</option>
      <option value="id|DESC" selected="selected">ID Descending</option>
      <option value="name|ASC">Name Ascending</option>
      <option value="name|DESC">Name Descending</option>
    </select>
    </div>
    <div style="margin: 0 auto; width: 200px;">
    Status:
    <select name="status" [(ngModel)]="status" (ngModelChange)="getClick()">
      <option value="ALL">All</option>
      <option value="WITHDRAWN">Withdrawn</option>
      <option value="ACTIVE" selected="selected">Active</option>
    </select>
    </div>


    <table  *ngIf="products" id="products">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Withdrawn</th>
      <th>Tags</th>
      <th [hidden]=!logged>Action</th>
    </tr>
    <tr *ngFor="let product of products.products | paginate: { itemsPerPage: view, currentPage: p}">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.category}}</td>
      <td>{{product.withdrawn}}</td>
      <td >{{product.tags}}</td>
      <td [hidden]=!logged>
        <input type="image" class="imgButton" src="assets/img/edit_icon.png" [routerLink]="['/product', product.id]">
        <input type="image" class="imgButton" src="assets/img/delete_icon.png" (click)="deleteClick(product.id)">
      </td>
    </tr>
    <tr [hidden]=!logged>
      <td>Auto</td>
      <td><input type="text" name="Name" [(ngModel)]="Name"></td>
      <td><input type="text" name="Description" [(ngModel)]="Description"></td>
      <td><input type="text" name="Category" [(ngModel)]="Category"></td>
      <td><input type="text" name="Withdrawn" [(ngModel)]="Withdrawn"></td>
      <td><input type="text" name="Tags" [(ngModel)]="Tags"></td>
      <td><input type="image" class="imgButton" src="assets/img/add_icon.png" (click)="postClick()"></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
