
<p>
<!DOCTYPE html>
<html>

<body>

<div class="header">
   
  <p> <b>The Cheapest Gas Prices Nearby.</b> </p>
  </div>

<div class="row">
  <div class="leftcolumn">
   <a routerLink="/prices"class="button">Find the Cheapest Gas Prices Now</a> 
  <div class="card">
      <h2>Find  the cheapest gas stations near your place at any time.</h2>	
<img src="http://www.canadianfuels.ca/website/media/Images/The%20Fuels%20Industry/gas-station.jpg?ext=.jpg" alt="Gas station" width="500" height="400">        
     <p><font size="+1"> It's easier than ever before to find gas stations near your current location,</font> 
	 <font size="+1">  browse through all the available choices and decide which suits you better.</font> <p>
     </div>
     </div>   

 <div class="rightcolumn"></div>    
   <div class= "card">

   
     <h2>About us</h2>
      <p>Established in 2018..</p>  
	 <h3>Follow us on</h3>
  
	<p>Facebook..</p>
<p> <a href="https://www.facebook.com/"> <img src="assets/img/facebook_icon.png" style="width:50px;height:50px;" ></a> </p>
 
			<p>Twitter..</p>
<p> <a href="https://www.twitter.com/"> <img src="assets/img/twitter_icon.png" style="width:50px;height:50px;" ></a> </p>
   

	<p>Instagram..</p>
<p> <a href="https://www.instagram.com/"> <img src="assets/img/instagram_icon.png" style="width:50px;height:50px;" ></a> </p>